body {
  display: flex;
}
aside {
  width: 15%;
  height: 100vh;
  background-color: #181618;
  color: white;
  font-size: 12px;
  padding: 55px 40px 30px 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: lightslategray;
  position: relative;
  
  
}

.line_between1 {
  border-right: 1px solid lightslategray;
  position: relative;
  left: 20px;
}

.logo {
  width: 150px;
  margin-bottom: 40px;
}

.cart_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 20px;
  border-top:1px solid rgb(61, 61, 61);
}

nav {
  border-top: 1px solid rgb(61, 61, 61);
  padding-top: 10px;
}
.product_count {
  position: relative;
  left: 40px;
}
ul{
  margin-bottom: 20px;
}
li {
  margin: 7px 0px 7px;
}

h2 {
  font-size: 14px;
  margin: 10px 0px 10px;
}

.bottom_nav{
 border-top: 1px solid rgb(61, 61, 61); 
 padding-top: 10px;
}

cite {
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rgb(105, 105, 105);
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 100%;
}

main {
  width: 85%;
  min-height: 100vh;
  background-color: #303030;
  color: white;
  padding: 40px;
}
h1 {
  margin: 20px 1px 20px 10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  color: lightgray;
  
} 
.products_container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}
.product {
  width: 180px;
  height: 180px;
  margin: 10px;
}

